<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Breathe</string>
    <key>CFBundleName</key>
    <string>SocraticJournal</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>NSUserTrackingUsageDescription</key>
    <string>We use this to measure the effectiveness of our marketing campaigns and improve your app experience.</string>
    <key>FirebaseUseEmulator</key>
    <string>$(FIREBASE_USE_EMULATOR)</string>
    <key>FirebaseEmulatorHost</key>
    <string>$(FIREBASE_EMULATOR_HOST)</string>
    <key>FirebaseFunctionsEmulatorPort</key>
    <string>$(FIREBASE_FUNCTIONS_EMULATOR_PORT)</string>
    <key>FirebaseFirestoreEmulatorPort</key>
    <string>$(FIREBASE_FIRESTORE_EMULATOR_PORT)</string>
    <key>FirebaseAuthEmulatorPort</key>
    <string>$(FIREBASE_AUTH_EMULATOR_PORT)</string>
</dict>
</plist>
